	<section class="section footer-cta">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h3 class="footer-cta__title">
						you-re think we'are cool? Let's work together
					</h3>
					<a href="" class="cta-button cta-button--light">get in touch</a>
				</div>
				<div class="col-md-6">
					<div class="footer-form">
						<h3 class="footer-form__title">
						STAY INFORMED WITH OUR NEWSLETTER
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae enim fugiat at impedit eum saepe cupiditate aliquid aspernatur iusto dolorem.</p>
						<form action="" class="footer-form__form">
							<input type="email" placeholder="Your email">
							<button class="cta-button footer-form__button">send</button>
						</form>
					</div>
				</div>

			</div>

		</div>

	</section>
	<section class="section container footer-main">
		<div class="row">
			<div class="col-md-7">
				<ul class="footer-main__menu">
					<li><a href="/index.html">home</a></li>
					<li><a href="#">about</a></li>
					<li><a href="/services.html">services</a></li>
					<li><a href="#">portfolio</a></li>
					<li><a href="/blog.html">blog</a></li>
					<li><a href="/contacts.html">contact us</a></li>
				</ul>
			</div>
			<div class="col-md-5">
				<p class="footer-main__copy">
					Created by akhouad 2016. All Rights Reserved
				</p>
				<div class="footer-main__social">
					<a href="#" class="ion-social-facebook"></a>
					<a href="#" class="ion-social-youtube"></a>
					<a href="#" class="ion-social-twitter"></a>
					<a href="#" class="ion-social-linkedin"></a>
					
					<a href="#" class="ion-social-pinterest"></a>
					<a href="#" class="ion-social-instagram"></a>
				</div>
			</div>
		</div>

	</section>
	
	

	<script src="js/script.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP_AiHxq_WPPIwz4IsOVil_PmoIs_b9YQ&callback=initMap"
  async defer>
</script>
</body>
</html>