<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>AKAD bootstrap</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header class="header-main">
		<div class="container">
			<div class="header-top row align-items-center">
				<div class="col">
					<a href="#" class="header-logo">AKAD.</a>
				</div>
				<div class="col text-right">
					<div class="nav-icon">
    					<span></span>
   						<span></span>
    					<span></span>
   						<span></span>
					</div>
				</div>
			</div>

			<div class="header-title row ">
				<div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
				<span class="header-title__subtitle">We're</span>
				<h1 class="header-title__title">Creative agency</h1>
				<p class="header-title__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, pariatur, necessitatibus. Ab in expedita ipsa, modi cumque et consequuntur facilis.</p>
			</div>
			</div>

			<div class="header-text row">
				<div class="col-12 col-md-5">
					<img class="header-text__img" src="img/header-2.jpg" alt="">
				</div>
				<div class="col-12 col-md-6 offset-md-1">
					<h2 class="title">history of agency</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt repellendus, corrupti blanditiis sunt laudantium debitis. Explicabo accusantium odio eligendi, iusto ipsam quis pariatur rerum ab tempore ipsum praesentium consequuntur!</p>
					<a href="#" class="cta-button header-text__cta">read more</a>
				</div>
			</div>
			
		</div>
	</header>