<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>AKAD bootstrap</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header class="header-main header-main--common">
		<div class="header-main__wrapper">
			<div class="header-top align-items-center">
				<div class="header-top__left">
					<a href="#" class="header-logo">AKAD.</a>
				</div>
				<div class="header-top__right text-right">
					<div class="nav-icon">
    					<span></span>
   						<span></span>
    					<span></span>
   						<span></span>
					</div>
				</div>
			</div>

			<div class="header-common">
				
				<div class="header-common__wrapper">
					<h1 class="header-common__title">our services</h1>
				<nav aria-label="breadcrumb">
  					<ol class="breadcrumb">
   					 <li class="breadcrumb-item"><a href="#">Home</a></li>
    				<li class="breadcrumb-item active" aria-current="page">Library</li>
  					</ol>
				</nav>
				</div>


			</div>

		</div>
	</header>