

.header-main {
	   background:url(../img/bg-main.jpg);
     background-size: cover;
}
.header-top {
	height: 100px;
}
.header-logo {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: $color_main;
	&:hover {
		color: $color_main;
	}

}

.header-title {
  text-align: center;
  padding: 125px 0;

  &__title {

    text-transform: uppercase;
    border: 10px solid $color_main;
    padding: 15px;
    line-height: 1;
    font-size: 30px;
       
    color: $color_main;
    @include _media(md) {
      font-size: 48px;
    }
  }

  &__subtitle {
    display: inline-block;
    background-color: $color_high;
    line-height: 30px;
    height: 30px;
    padding: 0 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }

  &__text {
    padding-top: 25px;
    margin: 0;


  }
}

.header-text {

  padding-bottom: 30px;
  position: relative;


  margin-bottom: 30px;

  @include _media(md) {
    margin-bottom: 120px;
  }
  p {
    line-height: 30px;
  }
  &__cta {
    bottom: -50px;
    right: 50%;
    transform: translateX(50%);
    position: absolute;

    @include _media(md) {
      transform: none;
      right: 0;
    }
  }

  &__img {
    @include _media(md){
      position: absolute;
    top: 0;
    left: 0;
    right: 0;

    }
    
  }
}
.nav-icon {
  width: 30px;
  height: 20px;
  display: inline-block;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 9999999;
  position: relative;

  span {
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    opacity: 1;
    left: 0;

    transform: rotate(0deg);
    transition: .35s ease-in-out;

    &:nth-child(1) {
   top: 0;
   width: 100%;
 }

 &:nth-child(2), &:nth-child(3) {
   top: 8px;
     width: 50%;
 }

 &:nth-child(4) {
   top: 16px;
   width: 75%;
 }
  }

  &.open {
   span {
    &:nth-child(1) {
    top: 24px;
    width: 0;
    left: 50%;
  }

  &:nth-child(2) {
    transform: rotate(45deg);
      width: 100%;
  }

  &:nth-child(3) {
    transform: rotate(-45deg);
          width: 100%;
  }

  &:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
  }
   }
  }
}