.section-what {
	@include make-container();
	@include make-container-max-widths();

	&__text {
		 @include make-col-ready();
		 @include make-col(6);
	}
	&__img {
		 @include make-col-ready();
		 @include make-col(12);
			text-align: center;
		 @include media-breakpoint-up(lg) {
        @include make-col(6);
    	}
	}

	&__list {
		column-count: 2;
		list-style: none;
		padding-left: 0;
		column-gap: 40px;

		li {
			
			position: relative;
			&:before {
				content: '\f374';
				font-family: 'Ionicons';
				display: inline-block;
				padding-right: 10px;
				color: $color_high;
			}
		}
	}
}

.section-highlights {
	@include make-container();
	@include make-container-max-widths();

	&__item {
		@include make-col-ready();
		@include make-col(6);
		text-align: center;
		@include media-breakpoint-up(lg) {
        @include make-col(3);
    	}
	}

	&__icon {
		font-size: 60px;
		position: relative;

		&:after {
		content: '';
		position: absolute;
		bottom: 18px;
		background-color: $color_high;
		z-index: -1;
		left: -1px;
		height: 20px;
		width: 50px;
		}

	}

	&__title {
		text-transform: uppercase;
		font-size: 18px;
		line-height: 30px;

	}

	p {
		font-size: 14px;
		line-height: 30px;

	}
}
.section-plans {
	@include make-container();
	@include make-container-max-widths();
	padding-bottom: 40px;
	@include media-breakpoint-up(lg) {
       			 padding-bottom: 100px;
    	}

	&__card {
		@include make-col-ready();
		@include make-col(12);


			@include media-breakpoint-up(lg) {
       			 @include make-col(4);
    	}
		
		
    	

	}
	&__inner {
		border-top: 5px solid $color_high;
		position: relative;
		transition: box-shadow .4s;


		&:hover {
			box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);

		}
		&:after {
			content: '';
			border: 5px solid transparent;
			border-top-color: $color_high;
			border-right-color: $color_high;
			position: absolute;
			top: 0;
			right: 0;
		}
	}

}